* {
    box-sizing: border-box;
}

ul, ol{
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

img{
max-width:100%;
height: auto;
}

h1{
    font-size: 5rem;
    font-family:'Raleway', sans-serif;
}

h2{
    font-size: 3rem;
    font-family:'Raleway', sans-serif;
}


/* P A R T E    A G U S T I N A */

/* INDEX */

.container {
    display: flex;
    justify-content: space-around;
}
    
.menu-lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}
    
.menu-lista li {
    padding: 15px;
          
}
    
.menu-lista li a {
    color: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
        
}

body { 
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
           
}

.logo img{
    width: 200px;
    height: 80px;

}
.container .Buscador1{ 
    align-items: center;
    padding-top: 30px;
}

.imagenportada{ 
    height: 800px;
    background-image: url(../img/index-portada.png);
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
} 

 /* Listas y elementos index.htm */

 /* Lista numero 1 Albums */ 
.albums{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
    text-align: center;
}

h2 {
    text-align: center;
}

.caja{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
    
}
.caja img{
    width: 200px;
    height: 200px;
    
}
/* Lista numero 2 Artists */

.artists{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px; 
    text-align: center;
}
.circulo{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.circulo img{
    width: 200px;
    height: 200px;
}

/* Lista numero 3 Songs */

.songs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
    text-align: center; 
}
.triangulo{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.triangulo img{
    width: 200px;
    height: 200px;
}

/* FIN DEL INDEX */

/* PLAYLIST */

.playlistportada img{
    height: 800px;
}

.soundtrack{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px; 
    text-align: center;
}
.corazon{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.corazon img{
    width: 200px;
    height: 200px;
}

/* FIN DE PLAYLIST */

/* SEARCH RESULTS */

.searchportada img{
    height: 800px;
}

.suggestions{
    text-align: center;
    list-style-type: circle;
}
    

p{
    text-align: center;
}


/* Listado numero 1 artist */

.searchartist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
    text-align: center; 
}
.mickey{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.mickey img{
    width: 200px;
    height: 200px;
}

/* Listado numero 2 Songs */

.searchtrack{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
    text-align: center; 
}
.stitch{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.stitch img{
    width: 200px;
    height: 200px;
}

/* Listado numero 3 Albums */

.searchalbum{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
    text-align: center; 
}
.lilo{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.lilo img{
    width: 200px;
    height: 200px;
}

/* FIN DE SEARCH RESULTS */

/* DISEÑO FOOTER */
.footer{
    width: 100%;
    height: 50px;
    color: white;
    background-color: #85DFAC;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-around;
    margin-top: 3px;
    padding-bottom: 0px;
    font-weight: 600; 
}

.iconosredes{
    font-size: 25px;
} 
/* FIN DISEÑO FOOTER */

/*  F I N   P A R T E    A G U S T I N A */


/* P A R T E    C A M I L A */

/* DETALLES TRACK */

.trackportada img{
    height: 800px;
}

.narnia{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    text-align: center; 
}
.zeus{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.zeus img{
    width: 200px;
    height: 200px;
}

/* FIN DETALLES TRACK */

/* DETALLES ARTISTS */

.artistportada img{
    height: 800px;
}

.bruno{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    width: 100%;
    margin-left: 10px;
    text-align: center; 
 
 }

 mars{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.mars img{
    width: 200px;
    height: 200px;
}
.todo2, .mars{             /*ver q onda*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.mars h2{
    width: 100%;
}

.mars div{
    width: 80%;
    margin-left: 15px;

}
.mars div p{
    text-align: left;
}

/* FIN DETALLES ARTISTS */

/* DETALLES ALBUMES */


.albumes123{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
    text-align: center; 
}
.aimg{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.aimg img{
    width: 200px;
    height: 200px;
}

.albumes123 h2{
    width: 100%;
}

.detallesintro{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
    flex-direction: row;
    flex-wrap: wrap;
}

.detallesintro h2{
    width: 100%;
    margin-top: auto;
    text-align: center;
    margin-right: 100%;
    

}

/*
.albumportada img{
    height: 800px;
}
.albumes123{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.albumes123 div{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.albumes123 img {
    justify-content: center;
    width: min-content;
}
.aimg{
    width: 100%;
}
.aimg img{
    width: 500px;
    height: 500px;
}
.albumes123 div ul{
    color: blueviolet;

}
.albumes123 div h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
*/


/* DETALLES GENERO */

.detailgenreportada img{
    height: 800px;
}

/* FIN DETALLES ALBUMES */

/* F I N   P A R T E    C A M I L A */

/* P A R T E    J E R O N I M O */

/* GENEROS */

.genresportada img{
    height: 800px;
}
.listas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
    text-align: center; 
}
.genero{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.genero img{
    width: 200px;
    height: 200px;
}

/* FIN DE GENEROS */

/* DETALLE GENEROS */

.header123 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 0, 150, 0.5);
}
.nav1 {
    width: 100%;
}
.nav1 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 16,6%;
}
.nav1 img {
    border-radius: 90%;
    height: 200px;
    align-items: center;
}
.tipo-genero{
    text-align: center;
}
.lista-det1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.lista-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img-rock{
    width: 15%;
}
.lista-data h2{
    width: 100%;
}
.lista-data a{
    color: white;
}
.lista-data div{
    width: 80%;
    margin-left: 15px;
}
.lista-data div p{
    text-align: left;
}

/* GENEROS */

.listas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.genero{
    width: 25%;
    justify-content: space-between;
}
.genero img {
    width: 60%;
}

/*  F I N   P A R T E    J E R O N I M O */

/* Detalles */
/* Parte Cami 
.header4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 0, 150, 0.5);
}
.header5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 0, 150, 0.5);
}
.logopagina2 {
    border-radius: 90%;
    height: 200px;
    
}
.todo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
*/





@media (max-width: 768px){
    .img-rock{
        width: 40%;
    }
    .logo{
        align-items: center;
    }
    .nav1 ul{
        text-align: center;
    }

}
@media (max-width: 368px){
    .img-rock{
        width: 50%;
    }
}
