* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
}
    
.menu-lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}
    
.menu-lista li {
    padding: 15px;
          
}
    
.menu-lista li a {
    color: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
        
}

body { 
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
           
}

.logo img{
    width: 200px;
    height: 80px;

}
.container .Buscador1{ 
    align-items: center;
    padding-top: 30px;
}

.imagenportada img{
    height: 800px;
}


 /* Parte listas y elementos index.htm */

 /* Lista numero 1 Albums */ 
.albums{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
    text-align: center;
}

h2 {
    text-align: center;
}

.caja{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
    
}
.caja img{
    width: 200px;
    height: 200px;
    
}
/* Lista numero 2 Artists */

.artists{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px; 
    text-align: center;
}
.circulo{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.circulo img{
    width: 200px;
    height: 200px;
}

/* Lista numero 3 Songs */

.songs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
    text-align: center; 
}
.triangulo{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.triangulo img{
    width: 200px;
    height: 200px;
}

/* FIN DEL INDEX */

/* Playlist */

.playlistportada img{
    height: 800px;
}

.soundtrack{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px; 
    text-align: center;
}
.corazon{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.corazon img{
    width: 200px;
    height: 200px;
}

/* FIN DE PLAYLIST */

/* SEARCH RESULTS */

.searchportada img{
    height: 800px;
}

.suggestions{
    text-align: center;
}

p{
    text-align: center;
}


/* Listado numero 1 artist */

.searchartist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
    text-align: center; 
}
.mickey{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.mickey img{
    width: 200px;
    height: 200px;
}

/* Listado numero 2 Songs */

.searchtrack{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
    text-align: center; 
}
.stitch{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.stitch img{
    width: 200px;
    height: 200px;
}

/* Listado numero 3 Albums */

.searchalbum{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
    text-align: center; 
}
.lilo{
    width: 20%;
    background-color:black;
    margin: 0,5%;
    font-weight: 600;
}
.lilo img{
    width: 200px;
    height: 200px;
}

/* FIN DE SEARCH RESULTS */


/* DETALLES TRACK */

.trackportada img{
    height: 800px;
}

/* DETALLES ARTISTS */

.artistportada img{
    height: 800px;
}


/* Diseño Footer */
 .footer{
     width: 100%;
     height: 50px;
     color: white;
     background-color: #85DFAC;
     display: flex;
     align-items: center;
     padding: 0;
     justify-content: space-around;
     margin-top: 3px;
     padding-bottom: 0px;
     font-weight: 600; 
}
/* Fin Diseño Footer */



/* Parte Agus */
ul, ol{
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}


/* Generos y detalle de generos parte jero */
/* detail generos */

.genresportada img{
    height: 800px;
}
.header123 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 0, 150, 0.5);
}
.nav1 {
    width: 100%;
}
.nav1 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 16,6%;
}
.nav1 img {
    border-radius: 90%;
    height: 200px;
    align-items: center;
}
.tipo-genero{
    text-align: center;
}
.lista-det1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.lista-data{
    width: 100%;
}
.img-rock{
    width: 15%;
}
/* generos */
.listas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.genero{
    width: 25%;
    justify-content: space-between;
}
.genero img {
    width: 60%;
}




/* Detalles */
/* Parte Cami */
.header4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 0, 150, 0.5);
}
.header5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 0, 150, 0.5);
}
.logopagina2 {
    border-radius: 90%;
    height: 200px;
    
}
.todo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.katy{     
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.katyimage{
    width: 30px;
}
.katytext{ 
  width: 60px;
    flex-direction: row;
    width: auto;
    
}
/* Artist */
.Bruno{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row ;

}
.todo2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
}
.katytext {
    width: 60px;
}


.pink{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
}
.albumes123{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}
.albumes123 img{
    width: 20%;
}


@media (max-width: 768px){
    .img-rock{
        width: 40%;
    }
    .logo{
        align-items: center;
    }
    .nav1 ul{
        text-align: center;
    }

}
@media (max-width: 368px){
    .img-rock{
        width: 50%;
    }
}
